@inherits LayoutComponentBase

@using Blazored.Toast.Configuration

<div class="page">

    <NavMenu OnDescriptionChangeCallback="GetViewDescription" />

    <div class="main">
        <div class="upper-bar">
			<div class="upper-bar-text">
				<span>@ViewDescription</span>
            </div>
            <div class="upper-help-button">
                <button class='btn'>
                    <i class='fa fa-question-circle'></i>
                </button>
            </div>
        </div>
        <div class="main-content">
            @Body
        </div>
    </div>

    <BlazoredToasts Position="ToastPosition.BottomRight" Timeout="4" />

</div>

@code {

	public string ViewDescription { get; set; }

	public void GetViewDescription(string description)
	{
		ViewDescription = description;
	}
}