.retroarch-core-modal-table::-webkit-scrollbar {
	display:none;
}

.retroarch-core-modal-table input {
	background-image: none !important;
	outline: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}