@page "/"

<div class="index-container">
    <h1> Welcome to RetroClient.io <i class='fa fa-gamepad'></i> </h1>
</div>

<style scoped>
    .index-container {
        width: 100%;
        height:100%;
        display:flex;
        justify-content: center;
        align-items: center;
        text-align: left;
    }

    .index-container h1 {
        font-size: 35px;
        margin-bottom: 120px;
        font-family: 'Press Start 2P', cursive;
    }
</style>